<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jsp.config.mybatis.mapper.BoardMapper">



	 <sql id="all-column">
        board_number,
     	board_title,
     	board_text,
    	board_hit,
     	board_date
	</sql>
 
 
 <!-- 매장 resultMap -->
 	<resultMap type="com.study.jsp.vo.Board" id="board-resultmap">
 		<id column="board_number" property="boardNumber"/>
 		<result column="board_title" property="boardTitle"/>
 		<result column="board_text" property="boardText"/>
 		<result column="board_hit" property="boardHit"/>
 		<result column="board_date" property="boardDate"/>
 	</resultMap>
 	
 	
 	
 	<select id="selectBoardAll" resultMap="board-resultmap">
		SELECT <include refid="all-column"/> 
		FROM board
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) 
		FROM board
	</select>
	
	<select id="selectBoardByNumber" resultMap="board-resultmap" parameterType="int">
		SELECT <include refid="all-column"/> 
		FROM board
		WHERE board_number = #{value}
	</select>
	
	<insert id="insertBoard" parameterType="board"><!-- com.study.jsp.vo.Board 설정 없이 원경로 -->
		
		<selectKey keyProperty="boardNumber" resultType="_int" order="BEFORE">
			SELECT board_seq.nextval FROM dual
		</selectKey>
		INSERT INTO board VALUES(
								#{boardNumber},
								#{boardTitle},
								#{boardText},
								0,
								SYSDATE)
	</insert>
	
	<update id="updateBoard" parameterType="board"> <!-- "board" config에서 소문자로 VO경로해도 허용한다고 설정, 매개변수는 board객체로 여러값 사용자 입력값을 가져옴 -->
		UPDATE board
		SET board_title = #{boardTitle},
			board_text = #{boardTitle}
		WHERE board_number = #{boardNumber}
	</update>
	
	
	<delete id="deletBoard" parameterType= "int">
		DELETE FROM board 
		WHERE board_number = #{boardNumber}
	</delete>
 	
</mapper>